.max_height {
    height: 100vh;
}

.modal-backdrop.show {
    opacity: 0;
    display: none;
}

.modal {
    position: absolute;
    left: 30%;
    top: 10%;
    width: 40%;
    max-width: 500px;
    height: min-content;

    .modal-dialog {
        margin: 0px;
    }
}