/* Coolors Exported Palette - coolors.co/26c485-99cdfe-e9e39b-fd9a82-7796cb */

/* HSL */
$color1: hsla(156%, 68%, 46%, 1);
$color2: hsla(209%, 98%, 80%, 1);
$color3: hsla(55%, 64%, 76%, 1);
$color4: hsla(12%, 97%, 75%, 1);
$color5: hsla(218%, 45%, 63%, 1);

/* RGB */
$color1: rgba(38, 196, 133, 1);
$color2: rgba(153, 205, 254, 1);
$color3: rgba(233, 227, 155, 1);
$color4: rgba(253, 154, 130, 1);
$color5: rgba(119, 150, 203, 1);